@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
	height: 100%;
}
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.description-editor,
.description-editor-output {
	@apply bg-neutral-200 py-3 rounded-md dark:bg-background;
	> div {
		@apply bg-neutral-200 dark:bg-background;
	}
}

.description-editor {
	position: relative;
}

.mantine-y68mcm ._isEmpty_nstdf_297 ._inlineContent_nstdf_297:before,
.mantine-y68mcm ._isFilter_nstdf_298 ._inlineContent_nstdf_297:before {
	@apply text-zinc-500;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
	width: 12px;
}

::-webkit-scrollbar-track:horizontal {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #3498db;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #2c3e50;
}

.ql-snow div.ql-tooltip {
	left: 0 !important;
	box-shadow: none !important;
	> input {
		background: white;
	}
}

